<button [disabled]="btnDisabled" [ngSwitch]="btnType" [ngClass]="btnFlavour" (click)="onClick.emit($event)">
   <span *ngSwitchCase="utils.ButtonType.IconDelete" [ngStyle]="{'background-image': 'url(' + 'assets/images/delete-user.png' + ')'}">
   </span>
  <span *ngSwitchCase="utils.ButtonType.IconEdit" [style.background-image]="'url(' + 'assets/images/edit-user.png' + ')'">
  </span>
  <span *ngSwitchDefault="utils.ButtonType.Text">
    {{btnText}}
  </span>
</button>
