@import "colors.scss";

:host {
  margin-left: 4px;
  margin-right: 4px;
}

$btn-colors: (
  "danger": $red-500,
  "primary": $blue-100,
  "secondary": $grey-500,
  "success": $green-100
);

@each $name, $color in $btn-colors {
  .btn-#{$name} {
    background-color: $color;
    @if $name == "danger" or $name == "success" {
      color: $white
    }
  }
}

[disabled] {
  opacity: 0.5;
  :hover {
    cursor: not-allowed;
  }
}

[class*="btn-"] {
  border-radius: 4px;
  border: none;
  &:hover {
    cursor: pointer;
  }
  span {
    min-width: 20px;
    height: 20px;
    display: flex;
    vertical-align: middle;
    background-size: contain;
    justify-content: center;
    align-items: center;
  }
}
