<div class="modal-container">
  <div class="modal-header">
    <h3>Delete employee</h3>
  </div>
  <div class="modal-content">
    <p>Are you sure you want to delete <strong>{{employeeData.FirstName + ' ' + employeeData.SecondName}}</strong>?</p>
  </div>
  <div class="h-separator"></div>
  <div class="modal-footer">
    <ema-button [btnType]="utils.ButtonType.Text"
                [btnFlavour]="utils.ButtonFlavour.Danger"
                btnText="Delete"
                (click)="ok()"></ema-button>
    <ema-button [btnType]="utils.ButtonType.Text"
                [btnFlavour]="utils.ButtonFlavour.Primary"
                btnText="Cancel"
                (click)="dismiss()"></ema-button>
  </div>
</div>
