@import "colors.scss";

:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 50%);
}

.modal-container {
  background-color: $grey-100;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px #000;
}

.modal-footer {
  text-align: right;
}
