<div class="ema-container">
  <div class="ema-search">
    <span>Search:</span> <input type="text" [(ngModel)]="searchTerm">
  </div>
  <ema-employee-item *ngFor="let employee of employees | search:searchTerm" [employee]="employee">
  </ema-employee-item>
</div>
