<div class="emp-item">
  <div class="emp-thumb" [ngStyle]="{'background-image': 'url(' + 'assets/images/user.png' + ')'}"></div>

  <div class="emp-meta">
    <h3 class="emp-name">{{employee.FirstName + ' ' + employee.SecondName}}</h3>
    <p class="emp-position">{{employee.Position}}</p>
  </div>
  <div class="emp-actions">
    <ema-button [btnFlavour]="btnUtils.ButtonFlavour.Danger"
                [btnType]="btnUtils.ButtonType.IconDelete"
                (onClick)="delete(employee)">
    </ema-button>
    <ema-button [btnFlavour]="btnUtils.ButtonFlavour.Secondary"
                [btnType]="btnUtils.ButtonType.IconEdit"
                [btnDisabled]="employee.Blocked"
                (onClick)="edit(employee.Id)">
    </ema-button>
  </div>
</div>
