@import "colors";

:host {
  margin-top: 4px;
  margin-bottom: 4px;
  display: block;
  background-color: $grey-100
}

.emp-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  .emp-thumb {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 2px #000;
  }
  .emp-meta {
    width: 60%;
    padding: 10px;
    .emp-name {
      font-weight: bold;
      font-size: 1rem;
    }
    .emp-position {
      font-size: 0.85rem;
    }
  }
  .emp-actions {
    padding: 10px;
    width: 20%;
  }
}
