<div class="page-404">
  <p [ngStyle]="{'font-size': '10rem', 'color': 'red'}">404</p>
  <a routerLink="/listing" [ngStyle]="{'font-size': '1rem', 'color': 'blue'}">Back to Employees Listing</a>
</div>

