/* You can add global styles to this file, and also import other style files */

body {
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4 {
  font-family: Acrelec, sans-serif;
}

p {
  font-family: Roboto, sans-serif;
}

.ema-container {
  min-width: 480px;
}

.w-100 {
  width: 100%;
}

.h-separator {
  border-top: 1px solid #000;
  margin-top:10px;
  margin-bottom: 10px;
}
