<h2>Employees Edit</h2>
<hr>
<div class="ema-form" [formGroup]="form">
  <h3>{{employee.FirstName +' '+ employee.SecondName}}</h3>
  <p [innerHTML]="employee.Details"></p>
  <input class="form-input w-100" type="text" formControlName="position">
  <ema-button [btnFlavour]="btnUtils.ButtonFlavour.Danger"
              [btnType]="btnUtils.ButtonType.Text"
              btnText="Cancel"
              (onClick)="cancel()">
  </ema-button>
  <ema-button [btnFlavour]="btnUtils.ButtonFlavour.Success"
              [btnType]="btnUtils.ButtonType.Text"
              [btnDisabled]="!canBeSaved"
              btnText="Save"
              (onClick)="save()">
  </ema-button>
</div>
